#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

#define MOD_MORPH(NAME, KEY, MOD_KEY) \
  mod_##NAME: mod_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    label = #NAME; \
    #binding-cells = <0>; \
    bindings = <&kp KEY>, <&kp MOD_KEY>; \
    mods = <(MOD_LSFT|MOD_RSFT)>; \
  };

#define MOD_MORPH_NONE(NAME, KEY) \
  mod_##NAME: mod_##NAME { \
    compatible = "zmk,behavior-mod-morph"; \
    label = #NAME; \
    #binding-cells = <0>; \
    bindings = <&kp KEY>, <&none>; \
    mods = <(MOD_LSFT|MOD_RSFT)>; \
  };

/ {

    behaviors {
        MOD_MORPH_NONE(UNDER, UNDER)
        MOD_MORPH(N1, N1, AT)
        MOD_MORPH(N2, N2, EXCL)
        MOD_MORPH(N3, N3, STAR)
        MOD_MORPH(N4, N4, PLUS)
        MOD_MORPH_NONE(N5, N5)
        MOD_MORPH_NONE(N6, N6)
        MOD_MORPH(N7, N7, EQUAL)
        MOD_MORPH(N8, N8, AMPS)
        MOD_MORPH(N9, N9, PIPE)
        MOD_MORPH(N0, N0, TILDE)
        MOD_MORPH_NONE(MINUS, MINUS)

        MOD_MORPH(QUOTES, SQT, DQT)
        MOD_MORPH(COMMA, COMMA, GRAVE)
        MOD_MORPH_NONE(DOT, DOT)
        MOD_MORPH_NONE(BSLH, BSLH)

        MOD_MORPH(LT, LT, HASH)
        MOD_MORPH(LBKT, LBKT, DOLLAR)
        MOD_MORPH_NONE(LBRC, LBRC)
        MOD_MORPH_NONE(LPAR, LPAR)

        MOD_MORPH_NONE(RPAR, RPAR)
        MOD_MORPH_NONE(RBRC, RBRC)
        MOD_MORPH(RBKT, RBKT, CARET)
        MOD_MORPH(GT, GT, PERCENT)
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {

//  -------------------------------------------------------------------------------------------------
//    | _    |  1  |  2  |  3  |  4  |  5  |    |      |    | 6  |  7  |  8  |  9  |  0  |  -   |
//    | TAB  |  '  |  ,  |  .  |  p  |  y  |    |      |    | f  |  g  |  c  |  r  |  l  |  /   |
//    | CPS  |  a  |  o  |  e  |  u  |  i  |    |      |    | d  |  h  |  t  |  n  |  s  |  \   |
//    | SFT  |  ;  |  q  |  j  |  k  |  x  |    |      |    | b  |  m  |  w  |  v  |  z  |  SFT |
//           |  <  |  [  |  {  |  (  |                           |  )  |  }  |  ]  |  >  |
//  -------------------------------------------------------------------------------------------------

//  -------------------------------------------------------------------------------------------------
//    |    |  @  |  !  |  *  |  +  |     |     |        |    |     |  =  |  &  |  |  |  ~  |     |
//    |    |  "  |     |     |     |     |     |        |    |     |     |     |     |     |  ?  |
//    |    |     |     |     |     |     |     |        |    |     |     |     |     |     |     |
//    |    |  :  |     |     |     |     |                   |     |     |     |     |     |     |
//         |  $  |  #  |     |     |                               |     |     |  ^  |  %  |
//  -------------------------------------------------------------------------------------------------

//  -------------------------------------------------------------------------------------------------
//                     | LCTRL | LALT    |                    | RALT    | ESCAPE |
//            | BSPACE | DEL   | CMD     |                    | CMD     | ENTER | SPACE |
//            |        |       | KPSHIFT |                    | KPSHIFT |       |       |
//  -------------------------------------------------------------------------------------------------

      bindings = <
        &mod_UNDER   &mod_N1       &mod_N2     &mod_N3     &mod_N4    &mod_N5    &tog 1                                                                                          &mo 3  &mod_N6  &mod_N7   &mod_N8    &mod_N9   &mod_N0   &mod_MINUS
        &kp TAB      &mod_QUOTES   &mod_COMMA  &mod_DOT    &kp P      &kp Y      &none                                                                                           &none  &kp F    &kp G     &kp C      &kp R     &kp L     &kp SLASH
        &kp CAPS     &kp A         &kp O       &kp E       &kp U      &kp I      &none                &kp LCTRL  &kp LALT   &none     &none      &kp RALT   &kp ESC              &none  &kp D    &kp H     &kp T      &kp N     &kp S     &mod_BSLH
        &kp LSHFT    &kp SEMI      &kp Q       &kp J       &kp K      &kp X                 &none     &none      &kp LCMD   &none     &none      &kp RCMD   &none      &none            &kp B    &kp M     &kp W      &kp V     &kp Z     &kp RSHFT
        &mo 2        &mod_LT       &mod_LBKT   &mod_LBRC   &mod_LPAR                        &kp BSPC  &kp DEL    &mo 1                          &mo 1     &kp ENTER  &kp SPACE                 &mod_RPAR &mod_RBRC  &mod_RBKT &mod_GT   &mo 2
      >;
    };
    keypad {

//  -------------------------------------------------------------------------------------------------
//    |    |     |     |     |     |     |     |         |     |     |     |     |     |     |     |
//    |    |     |     |     |     |     |     |         |     |     |     |     |     |  →  |     |
//    |    |     |     |     |     |     |     |         |     |     |  ←  |     |     |     |     |
//    |    |     |     |  ↓  |  ↑  |     |                     |     |     |     |     |     |     |
//         |     |     |     |     |                                 |     |     |     |     |
//  -------------------------------------------------------------------------------------------------

//  -------------------------------------------------------------------------------------------------
//                     | LCTRL | LALT    |                     | RALT    | ESCAPE |
//            | BSPACE | DEL   | CMD     |                     | CMD     | ENTER | SPACE |
//            |        |       | KPSHIFT |                     | KPSHIFT |       |       |
//  -------------------------------------------------------------------------------------------------

      bindings = <
        &none &none &none &none     &none   &none  &trans                                                                                 &mo 3  &none  &none     &none  &none  &none      &none
        &none &none &none &none     &none   &none  &none                                                                                  &none  &none  &none     &none  &none  &kp RIGHT  &none
        &none &none &none &none     &none   &none  &none              &kp LCTRL &kp LALT &none    &none  &kp RALT   &kp ESC               &none  &none  &kp LEFT  &none  &none  &none      &none
        &none &none &none &kp DOWN  &kp UP  &none            &none    &none     &kp LCMD &none    &none  &kp RCMD   &none      &none             &none  &none     &none  &none  &none      &none
        &mo 2 &none &none &none     &none                    &kp BSPC &kp DEL   &mo 1                   &mo 1     &kp ENTER  &kp SPACE                &none     &none  &none  &none      &mo 2
      >;
    };
    fn {
      bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &tog 1                                                       &mo 3 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
        &trans &trans &trans &trans &trans &trans  &none                                                       &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans  &none        &trans &trans &none &none &trans &trans        &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans        &none  &none  &trans &none &none &trans &none  &none        &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans               &trans &trans &trans             &trans &trans &trans              &trans &trans &trans  &trans  &trans
      >;
    };
    mod {
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                                                          &trans                 &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none
        &none &none        &none        &none        &none        &none        &bootloader                                                                                                    &bootloader            &none        &none        &none        &none        &none        &none
        &none &none        &none        &none        &none        &none        &rgb_ug RGB_MEFS_CMD 5                 &bt BT_CLR &bt BT_CLR &none &none &bt BT_CLR &bt BT_CLR                 &rgb_ug RGB_MEFS_CMD 5 &none        &none        &none        &none        &none        &none
        &none &none        &none        &none        &none        &none                               &none           &none      &none      &none &none &none      &none      &none                                  &none        &none        &none        &none        &none        &none
        &none &none        &none        &bl BL_INC   &bl BL_DEC                                       &rgb_ug RGB_TOG &bl BL_TOG &none                  &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none        &none        &none
      >;
    };
  };
};

